<h1>Dishley House</h1>
<p>What do you feel like tonight?</p>
<% binding.pry %>

<%#  @restaurants.each do |restaurant| %>
  <%#= restaurant.name %>
<%# end %>

<div id="map"></div>
<script type="text/javascript" charset="utf-8">
    var restaurants = <%= raw @restaurants.to_json %>;
</script>
