<h1>Jak sie masz</h1>
<p>What do you feel like tonight?</p>

<% @restaurants.each do |restaurant| %>
<h2> <%= restaurant.name %> </h2>
<% end %>

<div id="map"></div>
<script>
  var map = new GMaps({
    el: '#map',
    lat: -12.043333,
    lng: -77.028333
  });
</script>
