<h1>Jak sie masz</h1>
<p>What do you feel like tonight?</p>

<% @restaurants.each do |restaurant| %>
  <div id="restaurant-<%= restaurant.id %>">
    <%= "#{restaurant.name}" %>
    <%= link_to 'Show page', restaurant_path(restaurant) %>
  </div>
<% end %>
