<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-bar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsing-navbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to ' Home', root_path, class: 'glyphicon glyphicon-home' %>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <a class="glyphicon glyphicon-shopping-cart" href="" ></a>
      </li>
    </ul>
  </div>
</nav>
