<nav class="navbar navbar-light" style="background-color: #e3f2fd;" id="navbar">
  <div class= id="navbarText">
    <ul class="nav">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Order</a>
      </li>
    </ul>
  </div>
</nav>
