@import 'bootstrap';

#map {
  height: 400px;
  width: 100%;
}

body {
  text-align: center;
}

nav,
nav a {
  color: #fff;
}

a:hover {
  color: #6c757d;
}

.navbar-black {
  background-color: black;
}

.padding-left-nav {
  padding-left: 3em;
}

.padding-right-nav {
  padding-right: 3em;
}

.nav-logo {
  color: white;
  font-family: 'Mr Dafoe', cursive;
  font-size: 2.5em;
}

.h2-question {
  padding: 1em;
}

.card-text a {
  color: #6c757d;
}

.rest-category {
  font-size: 2.5em;
}

.extra-margin {
  margin-top: 1em;
}

.mr-dafoe {
  font-family: 'Mr Dafoe', cursive;
}

.menu-dafoe {
  background-color: #F0F0F0;
  font-size: 2.5em;
  padding: 5px;
}

.card {
  border-width: 0;
  padding: 0.75rem;
}

.card-body {
  padding: 0.5rem;
}

.address {
  font-size: 0.8em;
}

.btn-light {
  background-color: #E8E8E8;
}

.stripe-button-el {
  display: none !important;
}
