<!DOCTYPE html>
<html>
  <head>
    <title>JakSieMaszSlowfood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>(src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GEOCODER_APIKEY']}&libraries=places&callback=initiateMap" async defer)</script>
    <script src="gmaps.js"></script>
      <style type="text/css">
        #map {
          width: 400px;
          height: 400px;
        }
      </style>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
